.Joueur1
{
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 0px;
    left : 46%;
}

.Joueur2
{
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 40px;
    left : 31%;
}

.Joueur3
{
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 40px;
    left : 62%;
}

.Joueur4
{
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 78px;
    left : 20%;
}

.Joueur5
{
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 78px;
    left : 73%;
}

.Joueur6
{
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 130px;
    left : 30%;
}

.Joueur7
{
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 130px;
    left : 60%;
}

.Joueur8
{
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 170px;
    left : 82%;
}

.Joueur9
{
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 170px;
    left : 10%;
}

.Joueur10
{
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 194px;
    left : 35%; 
}

.Joueur11
{
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 194px;
    left : 56%; 
}
/*------------------------------------2eme equipe----------------------------------------------------*/
.Joueur12
{
    transform: rotate(180deg);
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 431px;
    left : 46%;
}

.Joueur13
{
    transform: rotate(180deg);
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 395px;
    left : 31%;
}

.Joueur14
{
    transform: rotate(180deg);
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 395px;
    left : 62%;
}

.Joueur15
{
    transform: rotate(180deg);
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 345px;
    left : 20%;
}

.Joueur16
{
    transform: rotate(180deg);
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 345px;
    left : 73%;
}

.Joueur17
{
    transform: rotate(180deg);
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 296px;
    left : 30%;
}

.Joueur18
{
    transform: rotate(180deg);
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 296px;
    left : 60%;
}

.Joueur19
{
    transform: rotate(180deg);
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 255px;
    left : 82%;
}

.Joueur20
{
    transform: rotate(180deg);
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 255px;
    left : 10%;
}

.Joueur21
{
    transform: rotate(180deg);
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 243px;
    left : 35%; 
}

.Joueur22
{
    transform: rotate(180deg);
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    object-fit: contain;
    top : 243px;
    left : 56%; 
}