@media screen and (min-width:600px) 
{
    body
    {
    transform: rotate(-90deg);
    }

    .Terrain
    {
        width: 98%;
    }

    .But
    {
        width: 50px;
    }

    .But1
    {
        width: 50px;
    }

    .corner, .corner2
    {
        left : 2%;
    }
}